<!DOCTYPE html>
<html>
  <head>
    <title>Rubytwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>RubyTwitter</h1>
      <div class="header-list">
       <ul>
         <li><%= link_to "Tweet一覧", tweets_path %></li>
         <li><%= link_to "新規投稿", tweets_new_path %></li>
       </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
<<<<<<< HEAD
      <p>Copyright © Nakagawatomotaro All Rights Reserved.</p>
=======
      <p>Copyright © NakagawaTomotaro All Rights Reserved.</p>
>>>>>>> c214a6fedaf760aff538503c008a395b48276417
    </footer>
  </body>
</html>
